{% extends "layout.html" %}
{% block content %}

<center><h1>Speech, Brain & Technology</h1></center>
<center><h2>Max Paulus</h2></center>

<hr>

<p>
  My current research at the department of Speech, Hearing and Phonetic Sciences at the University College London is about the perceptual learning of degraded speech. A speech signal can be degraded due to the characteristics of the source, such as a speaker with an unfamiliar accent. Another possibility is that the listener has a hearing impairment which might have been compensated by technology such as hearing aids or cochlear implants.
</p>

<!--<center><img src="img/visual_illusion.png" class="u-max-full-width, mypic"></center>-->

<hr>

<center>
  <figure>
    <iframe width="50%" height="100" frameborder="0" allowfullscreen
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/353068943&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true">
    </iframe>
    <figcaption style="font-size:12px">Apart from my good old steel-string guitar, I enjoy creating Dance and Chillbeats
    </figcaption>
  </figure>
</center>
  
<hr>

<center><h1>Curriculum Vitae</h1></center>
  
<p>
  From 2010-2014, I studied Computational Linguistics (B.Sc) at Saarland University in Germany. I did an exchange with the University of Technology in Sydney to study User interfaces, Databases and Web Systems. I stayed at Saarland University for my Master degree (2014-2017) in Language Science and Technology. I focused on the Neuroscience of Language and did my final project at the Center of Mind and Brain Sciences in Rovereto, Italy. 
</p>

<center>
  <figure>
    <iframe width="300" height="200" src="https://www.youtube.com/embed/STOz4BhKjtU" frameborder="0" allowfullscreen>
    </iframe>
    <figcaption style="font-size:12px">This is an image video of my undergraduate program in Saarbrucken &#8209; featuring me without beard</figcaption>  
  </figure>
</center>

{% endblock %}
