<hr>
<center><h1 id="nlp">Speech and Language Technology</h1></center>
<hr>

<div class="docs-section">  
  <h6 id="bot" class="docs-header">Simple chat bot in AIML</h6>
  <p>
    <a target="_blank" href="https://github.com/paulmaxus/chatbot">github</a> and 
    <a target="_blank" href="docs/simple-chat-bot.pdf">documentation</a>
  </p>
  <p>For the course "Topics in Human-Computer Interaction", I developed a simple chat bot using the Artificial Intelligence Markup Language (AIML) executable in Python.
  </p>
</div> 

<div class="docs-section">
  <h6 id="char" class="docs-header">Lip-sync for virtual characters</h6>
  <p>presentation <a target="_blank" href="https://docs.google.com/presentation/d/1v1SQMkKEg4bOMJhLCpe57CJC53OckJ-PgN9Q8Qu8IzY/edit#slide=id.g2494188471_0_18">slides</a> and demo <a target="_blank" href="https://drive.google.com/file/d/0BytmqwV9epXXVlM0WWZsYmNJUlE/view">video</a>.
  </p>
  <p>During a workshop in Crete, in collaboration with <a target="_blank" href="http://gerardllorach.weebly.com/">Gerard Llorach</a>, I was able to learn how to control lip-syncing of a virtual character using Javascript. These characters are powerful tools for hearing-aid testing in virtual environments. 
  </p>
</div> 

<div class="docs-section">
  <h6 id="asr" class="docs-header">Speech recognition for low-resource languages</h6>
   <p>You can find the code on <a target="_blank" href="https://github.com/lex4all/lex4all">github</a> and the <a target="_blank" href="http://www.anthology.aclweb.org/P/P14/P14-5.pdf#page=121">paper</a> published at ACL.
  </p>
  <p>Together with Anjana Vakil, we wrote a tool that allows speech recognition with only small amounts of data. The idea is that an existing high-resource recognition engine is used alongside a pronunciation lexicon, mapping words in the target language into sequences of sounds in the high-resource language.
  </p>
</div>    
