
<hr>
<center><h1 id="shiny">Interactive tools in Shiny</h1></center>
<hr>

<p>
  I coded these mini apps in Shiny by R and they are accessible through R servers. Shiny applications are a great way of demonstrating statistics interactively.
</p>

<!--<iframe src="http://ghbtns.com/github-btn.html?user=paulmaxus&repo=shiny-apps&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
-->

<div class="docs-section">  
  <h6 class="docs-header">Linear regression</h6>
  <p><a target="_blank" href="https://paulmaxus.shinyapps.io/ssapp/">open app</a>: How is the optimal line fitted to my data?</p>
</div>

<div class="docs-section">  
  <h6 id="exp" class="docs-header">Experimental design</h6>
  <p><a target="_blank" href="https://paulmaxus.shinyapps.io/latinapp/">open app</a>: How can the levels of my experimental variable be arranged in a Latin square design?</p>
</div>  
