{% extends "layout.html" %}
{% block content %}

<p>As a researcher, I am interested in the relationships between things in the world.
"Is attention attracted more by color or by shape?" could be one of the questions I am asking.</p>

<p>As most of mathematics, statistics is abstract and therefore hard to grasp. I always found it easiest to understand abstract things when analogies are made or when visualizations are given. This is what I dedicate this section to.</p>

<ul>
  <li>Demonstration of <a href="https://paulmaxus.shinyapps.io/ssapp/">linear regression</a></li>
  <li>What is a <a href="latin">Latin square design</a>?</li>
</ul>

<p>These mini apps were coded in Shiny by R and are accessible through R servers. Shiny applications are a great way of demonstrating statistics interactively. To upload your application to R, use the following code:</p>

<pre><code>library(rsconnect)
# move to the top folder that contains
# your application and upload 
rsconnect::deployApp('yourApp')</code></pre>
  
{% endblock %}
